# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.vcxproj*
*.sln
les1/.vs/les1/v16/Browse.VC.db
les1/.vs/les1/v16/Browse.VC.db-shm
les1/.vs/les1/v16/Browse.VC.db-wal
les1/.vs/les1/v16/Browse.VC.opendb
les1/.vs/les1/v16/ipch/AutoPCH/60e576e4c3334ed4/LES1.ipch
/les1/Debug/les1.tlog/link.write.1.tlog
/les1/Debug/les1.tlog/link.read.1.tlog
/les1/Debug/les1.tlog/link.command.1.tlog
/les1/Debug/les1.tlog/les1.lastbuildstate
/les1/Debug/les1.tlog/CL.write.1.tlog
/les1/Debug/les1.tlog/CL.read.1.tlog
/les1/Debug/les1.tlog/CL.command.1.tlog
/les1/Debug/vc142.pdb
/les1/Debug/vc142.idb
/les1/Debug/les1.pdb
/les1/Debug/les1.log
/les1/Debug/les1.ilk
/les1/Debug/les1.exe.recipe
/les1/.vs/les1/v16
/les2/.vs/les2/v16
/les2/Debug
